:root {
  --bg: #BED1E8;
  --main: #D9DBBC;
  --main1: #CFA5B4;
  --mypurple: #B2ABBF;
  --mygreen: #ACBDBA;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  font-family: 'Chakra Petch', sans-serif;
}

#part1 {
  display: none;
}
#part3 {
  display: none;
}

#big_title {
  text-align: center;
  color: white;
  font-family: "Roman";
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-size: 30px;
  height: 2.5em;
}

#instructions {
  text-align: center;
  font:'Chakra Petch';
  height: 3em;
  font-size: 25px;
  color: black;

}

#begin_button {
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  background-color: var(--mypurple);
  color: #fff;
  padding: 10px;
  width: 4em;
  margin: 0 auto;
  transition: all 1s;
}

#begin_button:hover {
  background-color: var(--mygreen);
  cursor: pointer;
}

#user_input{
  text-align: center;
  height: 3em;

}

input[type="text"] {
height: 10px;
width: 80px;
}

@font-face {
  src: url("RomanSD.ttf");
  font-family: "Roman";
}
