:root {
  --bg: #BED1E8;
  --main: #D9DBBC;
  --main1: #CFA5B4;
  --mypurple: #B2ABBF;
  --mygreen: #ACBDBA;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  font-family: 'Chakra Petch', sans-serif;
}

input[type="text"] {
  width: 500px;
  margin-top: 30px;
}

img {
  margin: 0;
  padding: 0;
}

#part2 {
  display: none;
}
#part3 {
  display: none;
}

#big_title {
  text-align: center;
  color: white;
  font-family: "Roman";
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-size: 30px;
}

.description {
  text-align: center;
  font-size: 25px;
  color: black;
}

#begin_button {
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  background-color: var(--mypurple);
  color: #fff;
  padding: 10px;
  width: 4em;
  margin: 0 auto;
  transition: all 1s;
}

#begin_button:hover {
  background-color: var(--mygreen);
  cursor: pointer;
}

#user_input{
  text-align: center;
  /* height: 3em; */

}

#random_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.random_block {
  width: 50%;
  text-align: center;
  margin: 0 10%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px var(--mypurple);
  padding: 10px;
}

.random_block .random_user img {
  border-radius: 50%;
}

#result {
  text-align: center;
  font-size: 25px;
}


@font-face {
  src: url("RomanSD.ttf");
  font-family: "Roman";
}
